/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,700&display=swap');

*{
  padding: 0;
  margin:0;
  text-decoration:none;
  list-style:none;
  box-sizing:border-box ;
}

body {
  font-family: "Montserrat",sans-serif;
  background: rgb(0, 0, 0);

}

header {  
width:100%;
height: 100vh;
background-color:#083ac4;
background-image:url(./images/jhj-min-2.jpg) ;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

/*NAVIGATION*/

nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 180px;
  margin-left: 20px;
  margin-top: 20px;
  }

  /*=========Menú hamburguesa =============*/
.bar-btn{
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;  
}

.nav-menu{
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background-color: rgba(0, 0, 0, .95);
  text-align:center;
  transition: all .5s;
}

.nav-menu li{
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all .5s;
  
}

.nav-menu li a{
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
  color:rgb(248, 148, 8);
  transition: .3s;
}

#check{
  display:none;
}

#check:checked ~ .nav-menu {
  height: 100vh;
}

#check:checked ~ .nav-menu li {
  display: block;
}

/*BANNER TEXT*/
.banner_text{
  padding: 0 30px;
  margin-top: 150px;
  text-align: center;
  color: #fff;
}

.banner_text h1{
  font-size: 50px;
  margin-bottom: 30px;
}

.banner-text span{
color:rgb(248, 148, 8);
}

.banner_text h2{
  font-size: 16px;
  font-weight: 600;
}

.button1{
  margin-right: 40px;
  padding: 10px 30px;
  background-color: rgb(248, 148, 8);
  color: #fff;
  border-radius: 5px;
}

.button1:hover {
  background-color:#fff ;
  color: rgb(248, 148, 8);
  transition: .5s;
}

.button2{
  margin-right: 40px;
  padding: 10px 30px;
  background-color:#fff;
  color:rgb(248, 148, 8);
  border-radius: 5px;
}

.button2:hover {
  background-color:rgb(248, 148, 8);
  color: #fff;
  transition: .5s;
}

/*RESPONSIVE PARA DESKTOP*/
@media screen and (min-width: 768px){
  .logo{
    margin-left: 50px;
  }
  nav{
    height:100px;
  }
  .bar-btn{
    display: none;
  }

  .nav-menu{
    position: relative;
    height: 100px;
    top:0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }

  .nav-menu li{
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
  }

  .nav-menu li a{
    font-size: 12px;    
  }

  .banner-text h1{
    font-size: 70px;
    margin-bottom: 30px;

  }
  .banner-text h2{
    font-size: 20px;
  }

}




/*=========FIN HEADER =============*/


/*.language-selector {   Selector pagina*/
  /* display: flex;
  flex: 1;
  flex-direction: row;
  height: 20px;
  width: 30px;
  justify-content: center;
  border-style: dashed;
  margin: 20px;
  align-items: center;
  text-align: center;
  border-style: double;
  cursor: pointer;
  background-color: #12dc19;

} */


/*=========First Box =============*/


/*///////////////////////*****\\\\\\\\\\\\\\\\\\\\\\\\*/

.first-container {
  /* General caja 1*/
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-image: url(https://img.freepik.com/fotos-premium/diseno-interiores-estilo-loft-ilustracion-ai-generativexa_115919-12854.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.caja1 { /*Contenedor de los textos az-vd*/
  background-color: rgba(255, 255, 255, 0.115);
  padding: 20px;
  box-sizing: border-box;
  max-width: 30%;
  height: 70%;
  margin-left: 10%;/* Valor positivo para desplazar hacia la derecha */
  margin-bottom: 10%;/* Valor ajustable para mover la caja hacia arriba */
  align-self: flex-start; /* Desplazar hacia arriba */
  text-align: center;
}

.linea1 {/*texto verde*/
  display: flex;
  flex-direction: column;
  color: #12dc19;
  font-size: 1.25vw;
  font-weight: bold;
  margin-top: 1%;


}

.linea2 {   /*texto azul*/

  color: #083ac4;
  font-size: 3.5vw;
  margin-top: 65px;


}

/*==========SECOND-CONTAINER=============*/

.second-container {  /*contenedor de la foto*/ /*Caja 2*/  
  display: flex;
  flex-direction:column;
  width: 100vw;
  height: 100vh;
  background-image: url(./images/1-r-architecture-rOk4VSMS3Ck-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;

}

.texto-hacemos {
  flex: 1;
  color: rgba(115, 115, 115, 0.952);
  font-family: 'Lucida Sans Unicode',sans-serif;
  font-weight: 600;
  font-size: 4vw;
  margin-top: 1%;
  z-index: 1;
  margin-left: 20%;
  word-wrap: break-word;

}



.small-container { /*Caja del texto*/
  display:flex;
  flex:1;
  background-color: rgba(237, 237, 237, 0.407);
  width: 25%;
  height: 80%;
  margin-left: 60%;/* Valor positivo para desplazar hacia la derecha */
  position: absolute;


}

.small-text { /*texto Nuestro equipo..*/
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-family: Georgia,serif;
  font-size: 3vw;
  justify-content:center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 5%;
  text-align: center;
  box-sizing: border-box;

 
  
}










/*===========INICIO CARRUSEL=============*/

/* Estilos para el carrusel */

.carousel-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100vw; /* Ajusta el ancho de la imagen al contenedor */
  height: 100vh;
  max-height: 350px;  /*Ajusta la altura de la imagen proporcionalmente */
  /*object-fit: cover;  Ajusta el tamaño de la imagen para que cubra completamente el contenedor */
  overflow-x: hidden;
  flex-wrap: nowrap; /* Evita que las imágenes y rectángulos se envuelvan en filas */

}

.carousel-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  height: 100%;
  position: relative;
  overflow: hidden;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;

}

.carousel-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  transition: opacity 0.5s ease;

}

.carousel-image.active {
  opacity: 1;
}

.rectangle-layer {   /*rectángulos carrusel*/
  display: flex;
  position: absolute;
  bottom: 3%; /* Ajusta la posición vertical según tus necesidades */
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 3; /* Asegura que los rectángulos estén por encima de las imágenes */
  cursor: pointer; /* Cambia el puntero al pasar sobre el rectángulo */
}

.rectangle {
  display: flex;
  width: 8px; /* Ajusta el ancho del rectángulo  */
  height: 8px; /* Ajusta la altura del rectángulo  */
  background-color: white; /* Ajusta el color del rectángulo  */
  margin: 5px; /* Ajusta el margen entre los rectángulos  */
  z-index: 3; /* Asegura que los rectángulos estén por encima de las imágenes */

}

.rectangle.active {
  background-color: #f8a305; /* Color del rectángulo activo */
}


/*========================FIN CARRUSEL=======================*/


/*========================INICIO REJILLA=======================*/

.third-container {    /*contenedor rejilla-TODO*/
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;

}

.third-container::before { /* Capa pseudo-elemento para la imagen de fondo */

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1535078035266-a0fa7d3b8f65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px);  /* Aplica el efecto de desenfoque */
  z-index: -1;
}

.inner-container2 {   /*contenedor cuadro Fondo blanco*/

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: 85%;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);


}

.sub-container {  /* rejilla*/

  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 95%;
  color: #1e1e1e;
  align-items: center;
  justify-content: center;
  text-align: center;



}

.third-container .inner-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/gh.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}




.third-container .inner-box-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/rtrtrtrt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.third-container .inner-box-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1685673414962-b602f4776e8d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=738&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.third-container .inner-box-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1616046229478-9901c5536a45?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.third-container .inner-box-9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1502005229762-cf1b2da7c5d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Text-square{  /*Titulo del recuadro*/
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: #12dc19;
  text-align: center;
  font-family: fantasy;
  font-weight: 5;
  font-size: 1.5vw;
  word-wrap: break-word;

}

#paragraph{
  display: flex;
  flex-direction:row;
  justify-content: center;
  color: #000000;
  padding-top: 1%;
  font-size: smaller;
  text-align: center;
  padding: 5%;
  font-family:'Trebuchet MS' sans-serif;
  text-overflow:ellipsis; /* Limita la longitud del texto y agrega puntos suspensivos */
  overflow: hidden;

}

.square {   /*define realmente la rejilla-forma-*/
  display: flex;
  flex-direction: column;
  width: 33.33%;
  height: 33.33%;
  align-items: center;
  justify-content: center;
  background-color: #12dc19;
  word-wrap: break-word;
  font-size: 1.25vw; /*Tamaño de la fuente*/
  overflow: hidden;

}

.square:nth-child(even) {
  /*colors 1 chess*/
  background-color: #ffffff;

}

.square:nth-child(odd) {
  /*colors 2 chess*/
  background-color: #c0c0c0;
}
/*========================FIN REJILLA=======================*/

/*========================FORMULARIO=======================*/

.fourth-container {/*contenedor de todo*/
  display: flex;
  flex-direction:row;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1643267514395-b36b3f7e8281?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80);
  justify-content: center;
  align-items: center;

}

.form-container {  /*contenedor de la imágen de fondo*/
  display: flex;
  width: 40%;
  height: 45%;
  background-color: rgba(255, 255, 255, .25);
  margin-top: -20%;
  align-items: 10%;
  align-self: center;

}

.pic-form{
  flex:1;
  width: auto;
  height:95% ;
  margin-top: 1.8%;
}

#text-registro{
  padding:4%;
  margin-left: 25%;
  font-size: 2vw;
  color: rgb(32, 19, 227);

}

.login {  /*cuadro contenedor del formulario*/
  flex:1;
  flex-direction: row;
  width: 15%;  /*ancho recuadro form*/
  height: 90.5%;  /*altura recuadro form*/
  z-index: 1;
  background-color: rgba(30, 30, 30, 0.817);
  margin-top: 2.7%;


}

.login input[type=text] {  /*casillas todas - pass*/
  display: flex;
  flex: 1;
  width: 90%;
  height: 10%;
  justify-content: center;
  background: transparent;
  border: 1px solid hsla(120, 93%, 38%, 0.9);
  border-radius: 1%;
  font-family: 'Exo', sans-serif;
  color: #ffffff;
  font-size:.75vw;
  padding:3%;  /*separacion texto- cuadro contenedor*/
  margin-left: 5%;


}

.login input[type=password] {   /*casilla password*/
  display: flex;
  flex: 1;
  width: 90%;
  height: 10%;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid rgba(25, 188, 10, 0.9);
  border-radius: 1%;
  font-family: 'Exo', sans-serif;
  font-size:.75vw;
  padding:3%;
  margin-left: 5%;


}

.login input[type=button] {
  width:90%;
  height:15%;
  flex: 1;
  justify-content: center;
  align-self: center;
  background: hsl(123, 94%, 46%);
  border: 1px solid #08a20d;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'Exo', sans-serif;
  font-size:1.5vw;
  font-weight:bold;
  color: #303130;
  margin-left: 5%;

}


.login input[type="button"] {
padding: 3%;

  /* Ajusta el margen superior para separarlo de los campos de texto */
}

.login input[type=button]:hover {/*Boton login*/
  opacity: 0.8;
}

.login input[type=button]:active {
  /*Boton login*/
  opacity: 0.6;
}

.login input[type=text]:focus {
  /*Al picar en casilla*/
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9);

}

.login input[type=password]:focus {
  /*Al picar en casilla*/
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.login input[type=button]:focus {
  /*Al picar en casilla*/
  outline: none;
}

::-webkit-input-placeholder {
  /*Transparencia*/
  color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
  /*Transparencia*/
  color: rgba(255, 255, 255, 0.6);
}



/*================FOOTER==================*/

/* Estilos para el pie de página */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-item {
  flex: 0 0 30%;
}

.footer-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-item p {
  margin: 0;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #888;
}


/*  */