body {
  background: black;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  /* background-color:#000000; */
  /* font-family: ''; */
  font-weight: bold;
  font-size: 20px;
}

/*=========Menú hamburguesa =============*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color0: #fff;
  --color1: #F25CA2;
  --color2: #0433BF;
  --color3: #032CA6;
  --color4: #021859;
  --color5: #0B9ED9;
  --color6: #000;
}

html {
  /* texto del menú-links-*/
  font-size: 10px;
  box-sizing: border-box;
}

.container-menu {
  /*Contenedor del menu hamburguesa*/
  flex: 1;
  flex-direction: column;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}


nav {
  /*contenedor del nav Línea sup como header*/
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color:#fff ; */
}

/*.navbar-brand {  logo del menú-opcional-*/
/* background-color: var(--color2);
  width: 6rem;
  height: 6rem;
  display: flex;
  border-radius: 50%;
  /* background-color: #a18d6c; */
/*} */

/*.navbar-brand i {  posible texto de logo-menú*/
/* font-size: 4rem;
  color:var(--color0);
  margin: auto;
} */

.nav-list {
  /*contenedor del menú-links*/
  display: flex;
  list-style: none;
  /* background-color: rgba(245, 245, 245, 0.141); */
}

.nav-link {
  /*Textos-links*/
  font-size: 1.6rem;
  text-decoration: none;
  display: block;
  margin: 0 2rem;
  color: var(--color0);
  text-transform: capitalize;
  transform: scale(0);
  transition: transform 650ms;
  font-size: 14px;
  margin-left: 3px;
  /*correr textos izq-der*/
  /* color: #12dc19; */
}

.nav-item {
  /*Underline links -animated-*/
  position: relative;
  line-height: 8rem;
  transition-delay: .4s;
  visibility: hidden;
}

.nav-item::before {
  /*propiedades underline -animated-*/
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color1);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 650ms cubic-bezier(.68, -.55, .265, 1.55);
}

.nav-item:hover::before {
  /*transformacion del underline*/
  transform: scaleX(1);
  transform-origin: left;
}

/* Hamburger Menu */
.hamburger {
  /*tamaño lineaSUP menu hamb*/
  width: 3.6rem;
  height: 1.8rem;
  position: relative;
  cursor: pointer;
  line-height: 5rem;
  z-index: 1500;
  justify-content: flex-end;
  position: absolute;
  right: 40px;
  top: 30px;



}

.hamburger .line {
  /*grosor de las líneas Hamb*/
  width: 100%;
  /*Del tamaño indicado arriba*/
  height: 2px;
  background-color: var(--color0);
  position: absolute;
  display: block;
  right: 0;
  transition: all 650ms;

}

.hamburger .line:nth-child(1) {
  /*Linea Sup Hamb*/
  top: 0;
  /* background-color: #12dc19; */
}

.hamburger .line:nth-child(2) {
  /*Linea Sup Hamb*/
  top: 50%;
  margin-top: -1px;
  width: 2.8rem;
  /* background-color: #dc12d9; */
}

.hamburger .line:nth-child(3) {
  /*Linea Sup Hamb*/
  top: 100%;
  margin-top: -2px;
  width: 2rem;
  /* background-color: #122ddc; */
}

.hamburger.active .line:nth-child(1) {
  /*animacion cruz*/
  transform: translateY(.8rem) rotate(45deg);
  width: 2rem;
}

.hamburger.active .line:nth-child(2) {
  /*animacion cruz*/
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-.8rem) rotate(-45deg);
  /*animacion cruz*/
  width: 2rem;
}


.nav-list.active .nav-link {
  /*tamaño texto links afectados*/
  transform: scale(1);
}

.nav-list.active .nav-item {
  /*afecta visibilidad textos-links*/
  transition-delay: initial;
  visibility: visible;
}

.nav-list.active .nav-item:nth-child(1) .nav-link {
  /*aparicion 1er texto izq a der*/
  transition-delay: .5s;
}

.nav-list.active .nav-item:nth-child(2) .nav-link {
  /*aparicion 2o texto izq a der */
  transition-delay: .4s;
}

.nav-list.active .nav-item:nth-child(3) .nav-link {
  /*aparicion 3er texto izq a der*/
  transition-delay: .3s;
}

.nav-list.active .nav-item:nth-child(4) .nav-link {
  /*aparicion 3er texto izq a der*/
  transition-delay: .2s;
}

.nav-list.active .nav-item:nth-child(5) .nav-link {
  /*aparicion 3er texto izq a der*/
  transition-delay: .1s;
}

/* reverse animation */

.nav-list .nav-item:nth-child(1) .nav-link {
  /*transiciones entre textos*/
  transition-delay: .1;
}

.nav-list .nav-item:nth-child(2) .nav-link {
  /*transiciones entre textos*/
  transition-delay: .2s;
}

.nav-list .nav-item:nth-child(3) .nav-link {
  /*transiciones entre textos*/
  transition-delay: .3s;
}

.nav-list .nav-item:nth-child(4) .nav-link {
  /*transiciones entre textos*/
  transition-delay: .4s;
}

.nav-list .nav-item:nth-child(5) .nav-link {
  /*transiciones entre textos*/
  transition-delay: .5s;
}

@media screen and (max-width: 768px) {

  .nav-list {
    /*NO EST.*/
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    position: fixed;
    left: 0;
    bottom: -100vh;
    transform: bottom 650ms;
  }

  .nav-list.active {
    /*NO EST.*/
    bottom: 0;
  }

}

/*=========Menú hamburguesa =============*/

.header {
  /*Mismo espacio que linea nav superior?*/
  display: flex;
  align-items: center;
  background-color: var(--color4);
  z-index: 2;
  width: 100%;

}

.logo-container {
  flex: 1;
  margin: 20px;
  align-items: flex-start;
  text-align: start;
  align-content: center;

}

.logo {
  /*logo de la pagina*/
  margin-right: 10px;
  /* Opcional: ajusta el margen según sea necesario */
}

.logo img {
  /*logo de la pagina*/
  max-width: 100px;
  height: auto;
}

.language-selector {
  /*Selector pagina*/
  flex: 1;
  display: flex;
  border-style: dashed;
  margin: 20px;
  align-items: flex-start;
  text-align: center;

}

.language-option {
  /*Selector pagina*/
  flex-direction: row;
  width: 30px;
  height: 20px;
  justify-content: center;
  margin: 20px;
  cursor: pointer;
  border-style: double;
}

/*=========Menú hamburguesa =============*/


/*///////////////////////*****\\\\\\\\\\\\\\\\\\\\\\\\*/

.container {
  /* General caja 1*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 100vh;
  background-image: url(./images/jhj-min-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.caja1 { /*Contenedor de los textos az-vd*/  
  background-color: rgba(255, 255, 255, 0.115);
  padding: 20px;
  box-sizing: border-box;
  max-width: 30%;
  height: 70%;
  margin-left: 10%;/* Valor positivo para desplazar hacia la derecha */  
  margin-bottom: 10%;/* Valor ajustable para mover la caja hacia arriba */  
  align-self: flex-start; /* Desplazar hacia arriba */ 
  text-align: center;
}

.linea1 {/*texto verde*/  
  display: flex;
  flex-direction: column;
  color: #12dc19;
  font-size: 1.25vw;
  font-weight: bold;
  margin-top: 1%;
  

}

.linea2 {   /*texto azul*/
 
  color: #083ac4;
  font-size: 3.5vw;
  margin-top: 65px;


}

/*==========SECOND-CONTAINER=============*/

.second-container {
  /*Caja 2*/
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  height: 800px;
  width: max-content;
  float: left;
  gap: 10px;
}

.inner-container { /*contenedor de la foto*/
  display: flex;  
  width: 100vw;
  height: auto;
  flex-direction: row;
  background-image: url(./images/1-r-architecture-rOk4VSMS3Ck-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.05);   /* Ajustar el último valor (0.5) para controlar la opacidad */
  position: relative;

}

.small-container { /*contiene texto: equipo de diseño*/  
  display: flex;
  flex-direction: row;
  background-color: rgba(237, 237, 237, 0.407);
  padding: 10px;
  width: 30%;
  height: 70%;
  margin-left: 60%;/* Valor positivo para desplazar hacia la derecha */  
  align-self: flex-start;  /* Desplazar hacia arriba */
  justify-content: center;
  position: relative;
  overflow: hidden;

}

.small-text { /*texto Nuestro equipo..*/  
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5vw;
  position: absolute;
  margin-top: 35px;
  z-index: 1;
  text-align: justify;
  padding: 20px;
  justify-content: center;
  align-items: center;
  
  text-align: center;

}

.texto-hacemos {
  display: flex;
  flex-direction: row;
  color: rgba(115, 115, 115, 0.952);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: 4.5vw;
  position: absolute;/*afecta parrafo*/
  margin-top: 50px;
  z-index: 1;
  margin-left: 10%;

}


/*===========INICIO CARRUSEL=============*/

/* Estilos para el carrusel */

.carousel-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw; /* Ajusta el ancho de la imagen al contenedor */
  height: 100vh;
  max-height: 350px;  /*Ajusta la altura de la imagen proporcionalmente */
  /*object-fit: cover;  Ajusta el tamaño de la imagen para que cubra completamente el contenedor */
  overflow-x: hidden;
  flex-wrap: nowrap; /* Evita que las imágenes y rectángulos se envuelvan en filas */

}

.carousel-images {
  display: flex;
  /*flex-wrap: nowrap;evita apilamiento*/
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  height: 100%;
  position: relative;
  overflow: hidden;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;

}

.carousel-image {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  transition: opacity 0.5s ease;

}

.carousel-image.active {
  opacity: 1;
}

.rectangle-layer {   /*rectángulos carrusel*/
  position: absolute;
  bottom: 20px; /* Ajusta la posición vertical según tus necesidades */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left:auto;
  margin-right: auto; */
  z-index: 3; /* Asegura que los rectángulos estén por encima de las imágenes */
  cursor: pointer; /* Cambia el puntero al pasar sobre el rectángulo */
}

.rectangle {
  width: 8px; /* Ajusta el ancho del rectángulo  */
  height: 8px; /* Ajusta la altura del rectángulo  */
  background-color: white; /* Ajusta el color del rectángulo  */
  margin: 5px; /* Ajusta el margen entre los rectángulos  */
  z-index: 3; /* Asegura que los rectángulos estén por encima de las imágenes */
 
}

.rectangle.active {
  background-color: #333; /* Color del rectángulo activo */
}


/*========================FIN CARRUSEL=======================*/


.caja-foto1 {

  height: 80%;
  width: 30%;
  background-color: #ffffff;
  float: left;
  margin-left: 2%;


}

.caja-foto2 {

  height: 80%;
  width: 30%;
  background-color: #ffffff;
  float: left;

}

.caja-foto3 {

  height: 80%;
  width: 30%;
  background-color: #ffffff;
  float: left;
  margin-right: 3%;


}

.third-container {
  /*contenedor rejilla-TODO*/
  display: flex;
  height: 1000px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;

}

.third-container::before { /* Capa pseudo-elemento para la imagen de fondo */
  
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1535078035266-a0fa7d3b8f65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px);
  /* Aplica el efecto de desenfoque */
  z-index: -1;
}

.inner-container2 {
  /*contenedor rejilla-exterior Fondo*/
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 45%;
  height: 65%;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5);

}

.sub-container {
  /* rejilla*/
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
  color: #1e1e1e;
  align-items: center;
  justify-content: center;

}

.third-container .inner-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  /* Ajusta el valor según tus necesidades */
  width: 100%;
  height: 100%;
  background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/gh.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.third-container .inner-box-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  /* Ajusta el valor según tus necesidades */
  width: 100%;
  height: 100%;
  background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/rtrtrtrt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.third-container .inner-box-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  /* Ajusta el valor según tus necesidades */
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1685673414962-b602f4776e8d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=738&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.third-container .inner-box-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  /* Ajusta el valor según tus necesidades */
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1616046229478-9901c5536a45?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.third-container .inner-box-9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  /* Ajusta el valor según tus necesidades */
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1502005229762-cf1b2da7c5d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.square {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  height: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;


}

.square:nth-child(even) {
  /*colors 1 chess*/
  background-color: #ffffff;

}

.square:nth-child(odd) {
  /*colors 2 chess*/
  background-color: #c0c0c0;
}

.text-square {
  display: flex;
  flex-direction: column;
  font-style: oblique;


}

#p {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: small;
  font-style: normal;
  color: #000000;


}


/*========================FORMULARIO=======================*/

.fourth-container {/*contenedor de todo*/
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}


.form-container {  /*contenedor de la imágen de fondo*/
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1643267514395-b36b3f7e8281?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80);


}

.login {  /*contenedor del formulario*/
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 55%;
  margin-top: 2%;
  margin-left:5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-style:dashed;
  font-family: Arial;
  font-size: 12px; 
  z-index: 1;
  /* border-style: solid;
  color: rgba(18, 220, 25, 0.5); */
  border-radius: 5px;
  /* background-color: rgba(18, 220, 25, 0.3); */



}

.login input[type=text] {  /*casilla username*/
  display: flex;
  width: 90%;
  height: 8%;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 1%;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size:larger;
  font-weight:normal;
  padding: 1%;
 

}

.login input[type=password] {   /*casilla password*/
  display: flex;
  width: 90%;
  height: 8%;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 1%;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size:larger;
  font-weight:normal;
  padding: 1%;

}

.login input[type=button] {
  width: 90%;
  height: 10%;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'Exo', sans-serif;
  font-size:large;
  font-weight:bold;

  margin-top: 10%;
}


.login input[type="button"] {
  margin-top: 1%;
  /* Ajusta el margen superior para separarlo de los campos de texto */
}

.login input[type=button]:hover {/*Boton login*/  
  opacity: 0.8;
}

.login input[type=button]:active {
  /*Boton login*/
  opacity: 0.6;
}

.login input[type=text]:focus {
  /*Al picar en casilla*/
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9);

}

.login input[type=password]:focus {
  /*Al picar en casilla*/
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.login input[type=button]:focus {
  /*Al picar en casilla*/
  outline: none;
}

::-webkit-input-placeholder {
  /*Transparencia*/
  color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
  /*Transparencia*/
  color: rgba(255, 255, 255, 0.6);
}



/*================FOOTER==================*/

/* Estilos para el pie de página */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-item {
  flex: 0 0 30%;
}

.footer-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-item p {
  margin: 0;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #888;
}


/*  */