@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.background {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(./images/pexelsphoto1267438.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.container {
    display: flex;
    flex-direction: row;
    float: left;
    flex-wrap: wrap;
    width: 50%;
    max-width: 800px;
    height: 55%;
    max-height: 500px;
    background-color: rgba(219, 219, 219, 0.268);
    border-radius: .5vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-style:groove;   
    align-items: center;
    overflow: auto; /* Agrega una barra de desplazamiento si el contenido excede el tamaño del contenedor */
    


    
}



#login-form{
    display: flex;
    width: 350px;    
    height: auto;
    flex-direction: column;
    border-style: dotted;
    padding: 2%;
    background-color:transparent;
    z-index:10;  
    border-style: groove;
    margin-left: 1%;

}

.results-container {    
    height: 390px; 
    width:48%;   
    border: 5px solid #ccc;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(235, 235, 235, 0.9);
    border-style:groove;
    margin-left: 3%;
    

}

input {  /*Campos*/
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(200, 200, 200, 0.709);
    align-self: center;
    
    
}

button {   /*Botón del login*/
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(14, 179, 27, 0.85);
    color: rgb(245, 244, 244);
    border: none;
    cursor: pointer;
    font-size: 1.25vw;
}

.titulo-form{
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;

}

h1 {  /*texto usuarios*/
    margin-left: 26%;
    padding: 1%;
    color: rgb(15, 172, 25);
    font-size: 2vw;
    font-family: 'Montserrat';
    
}

h2 {  /*ADMINISTRACIÓN  -text-*/
    padding: 1%;
    color: rgba(14, 7, 233, 0.75);
    font-size: 2vw;
    font-family: 'Montserrat';
    background-color:transparent;  
    
}


.result h3 {  /*texto ID*/
    margin-top: 0;
    font-size: .7vw;
    color: #121212;
}

h4{
    color: rgb(240, 240, 240);
    font-family:Arial, sans-serif;
    font-weight: 300;
    margin-left: 29%;
    padding: 2%;
}

h5{
    color: rgba(225, 225, 225, 0.5);
    font-size: 2.5vw;
}

.result {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    /* Otros estilos... */
  }

.result p {  /*textos registros*/
    margin: 0;
    font-size: .75vw;
    color: #5a5a5a;
}

span{
    color: #5a5a5a;
    font-size: 0.75vw;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 5%;
    margin-bottom: 5%;
    
}

.button-Apis {  /*Botones del CRUD*/
    display: inline-block;
    width: 15%;
    height: 75%;
    padding: 1%;
    background-color: rgba(25, 131, 29, 0.85);
    color: white;
    border: none;
    cursor: pointer;
    font-size:.8vw;
    border-radius: 10vw;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8); /*separación sombra*/
}

.texto-prueba{
    width: 100%;
    height: 8%;
    color:rgb(255, 255, 255);
    margin-top:0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(10, 10, 194);

}

#let-me-in{
    color: red;
    background-color: lawngreen;
    width: 10%;
    height: auto;
    margin-bottom: 2%;
    border-radius: 10vw;
    cursor:pointer;
    text-decoration:underline;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    box-shadow: 0 5px 5px rgba(243, 243, 243, 0.8);

}
  
