@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,700&display=swap');

*{
    padding: 0;
    margin:0;
    text-decoration:none;
    list-style:none;
    box-sizing:border-box ;
    
}

.background{
    background-image: url(./images/pexelsphoto1267438.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 2%;
    text-align: center;

  }
  
  h1 {
    margin-bottom: 10%;
    color: white;
    font-size: 3vw;
    font-family: 'Montserrat';
    
  }
  
  input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(224, 224, 224, 0.744);
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(76, 175, 80, 0.85);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.25vw;
  }

  #login{
    width: 400px;
    justify-content: ;
    
  }

  .results-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px; /*tamaño ventana*/
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.result {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.result p {
    margin: 0;
    color: #666;
}

