@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/pexelsphoto1267438.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.209);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 2%;
    color: white;
    font-size: 2vw;
    font-family: 'Montserrat';
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(224, 224, 224, 0.744);
    align-self: center;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(76, 175, 80, 0.85);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.25vw;
}

.results-container {
    max-height: 200px; /* Altura máxima de la ventana de resultados */
    overflow-y: scroll; /* Agrega una barra de desplazamiento vertical cuando los registros excedan la altura máxima */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    flex-grow: 1; /* Permite que la ventana de resultados ocupe el espacio disponible verticalmente */
    margin-top: 20px;
}

.result {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.result p {
    margin: 0;
    color: #666;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.button-Apis {
    display: inline-block;
    width: 30%;
    padding: 10px;
    background-color: rgba(76, 175, 80, 0.85);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.25vw;
}
