/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,700&display=swap');

*{
  padding: 0;
  margin:0;
  text-decoration:none;
  list-style:none;
  box-sizing:border-box ;
}

body {
  font-family: "Montserrat",sans-serif;
  background: rgb(0, 0, 0);

}

header {  
width:100%;
height: 100vh;
background-color:#083ac4;
background-image:url(./images/jhj-min-2.jpg) ;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

/*NAVIGATION*/

nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #12dc19; */
}

.logo{
  width:32%;
  margin-left: 5%;
  margin-top: 5%;
  }

  /*=========Menú hamburguesa =============*/
.bar-btn{
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;  
}

.nav-menu{
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 15%;/*margen top -fondo menu hamburguesa*/
  background-color: rgba(0, 0, 0, .95);
  text-align:center;
  transition: all .5s;
}

.nav-menu li{
  display: none;
  line-height: 5%;/*distancia textos desplegado*/
  margin: 20% 0;  /*distancia textos desplegado*/
  transition: all .5s;
  
}

.nav-menu li a{
  color: #fff;
  font-size: 3vw; /*tamaño del texto menú*/
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
  color:rgb(248, 148, 8);
  transition: .3s;
}

#check{
  display:none;
}

#check:checked ~ .nav-menu {
  height: 100vh;
}

#check:checked ~ .nav-menu li {
  display: block;
}

/*BANNER TEXT*/
.banner_text{
  display: flex;
  flex-direction:column ;
  padding: 0 30%;
  margin-top: 10%;
  text-align: center;
  color: #fff;
}

.banner_text h1{
  font-size: 4vw;
  margin-bottom:5%;
}

.banner-text span{
color:rgb(248, 148, 8);
}

.banner_text h2{
  font-size: 1.5vw;
  font-weight: 600;
}

.button1{
  margin-right: 10%;
  padding: .75vw 5%;  /*alto*ancho*/
  background-color: rgb(248, 148, 8);
  color: #fff;
  border-radius: 5px;
}

.button1:hover {
  background-color:#fff ;   /*color origen*/
  color: rgb(248, 148, 8);   /*color destino*/
  transition: .5s;  /*tiempo*/
}

.button2{
  margin-right: 10%;
  padding: .75vw 5%;
  background-color:#fff;
  color:rgb(248, 148, 8);
  border-radius: 5px;
}

.button2:hover {
  background-color:rgb(248, 148, 8);  /*color origen*/
  color: #fff;                        /*color destino*/
  transition: .5s;                       /*tiempo*/
  
}

/*RESPONSIVE PARA DESKTOP*/
@media screen and (min-width: 768px){
  .logo{
    margin-left: 50px;
  }
  nav{
    height:100px;
  }
  .bar-btn{
    display: none;
  }

  .nav-menu{
    position: relative;
    height: 100px;
    top:0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }

  .nav-menu li{
    display: inline-block;
    line-height: 2%;
    margin: 10% 2%;/*margen top-separación textos*/
    transition: none;
  }

  .nav-menu li a{
    font-size: 12px;    
  }

  .banner-text h1{
    font-size: 70px;
    margin-bottom: 30px;

  }
  .banner-text h2{
    font-size: 20px;
  }

}


/*=========FIN HEADER =============*/





/*=========COMIENZO FIRST CONTAINER =============*/


.first-container {
  /* General caja 1*/
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./images/don-kaveen-p2u7eu00DCA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.caja1 { /*Contenedor de los textos az-vd*/
  background-color: rgba(12, 26, 221, 0.811);
  padding: 2%;
  box-sizing: border-box;
  max-width: 30%;
  height: 80%;
  margin-left:10%;/* mover izq*/  
  text-align: center;

}

.linea1 {/*texto verde*/
  display: flex;
  flex-direction: column;
  color: rgb(13, 219, 20);
  font-size: 1vw;
  margin-top: 20%;
  font-family: "Montserrat",sans-serif;
  font-weight: 300;
  z-index: 2;

}

.linea2 {   /*texto azul*/
  color: #ffffff;
  font-size: 3.5vw;
  margin-top: 10%;
  font-weight: 600;
  font-family: "Montserrat",sans-serif;



}

/*==========SECOND-CONTAINER=============*/

.second-container {  /*contenedor de la foto*/ /*Caja 2*/  
  display: flex;
  flex-direction:column;
  width: 100vw;
  height: 100vh;
  background-image: url(./images/1-r-architecture-rOk4VSMS3Ck-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.texto-hacemos {
  flex: 1;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Montserrat",sans-serif;
  font-size: 4vw;
  font-weight: 600;
  margin-top: 1.5%;
  z-index: 1;
  margin-left: 20%;
}



.small-container { /*Caja del texto*/
  flex:1;
  background-color: rgba(19, 174, 13, 0.575);
  width: 25%;
  height: 80%;
  padding: .75%;
  margin-left: 65%;/* Valor positivo para desplazar hacia la derecha */
  position: absolute;
  justify-content: center;
  align-items: center;
}

.small-text { /*texto Nuestro equipo..*/
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-family: "Montserrat",sans-serif;
  font-size: 2.75vw;
  justify-content:center;
  align-self: center;
  position: relative;
  z-index: 1;
  padding: 4%;
  box-sizing: border-box;  
}


/*===========INICIO CARRUSEL=============*/

/* Estilos para el carrusel */

.carousel-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100vw; /* Ajusta el ancho de la imagen al contenedor */
  height: 100vh;
  max-height: 400px;  /*Ajusta la altura de la imagen proporcionalmente */
  overflow-x: hidden;
  flex-wrap: nowrap; /* Evita que las imágenes y rectángulos se envuelvan en filas */
}

.carousel-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  height: 100%;
  position: relative;
  overflow: hidden;
  overflow-x:hidden;
  scroll-snap-type: x mandatory;

}

.carousel-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  transition: opacity 0.5s ease;

}

.carousel-image.active {
  opacity: 1;
}

.rectangle-layer {   /*rectángulos carrusel*/
  display: flex;
  position: absolute;
  bottom: 3%; /* Ajusta la posición vertical según tus necesidades */
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 3; /* Asegura que los rectángulos estén por encima de las imágenes */
  cursor: pointer; /* Cambia el puntero al pasar sobre el rectángulo */
}

.rectangle {
  display: flex;
  width: 8px; /* Ajusta el ancho del rectángulo  */
  height: 8px; /* Ajusta la altura del rectángulo  */
  background-color: white; /* Ajusta el color del rectángulo  */
  margin: 5px; /* Ajusta el margen entre los rectángulos  */
  z-index: 3; /* Asegura que los rectángulos estén por encima de las imágenes */

}

.rectangle.active {
  background-color: #f8a305; /* Color del rectángulo activo */
}


/*========================FIN CARRUSEL=======================*/


/*========================INICIO REJILLA=======================*/

.third-container {    /*contenedor rejilla-TODO*/
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;

}

.third-container::before { /* Capa pseudo-elemento para la imagen de fondo */

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1535078035266-a0fa7d3b8f65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px);  /* Aplica el efecto de desenfoque */
  z-index: -1;
}

.inner-container2 {   /*contenedor cuadro Fondo blanco*/

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: 85%;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);


}

.sub-container {  /* rejilla*/

  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 95%;
  color: #1e1e1e;
  align-items: center;
  justify-content: center;
  text-align: center;



}

.third-container .inner-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/gh.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}




.third-container .inner-box-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/rtrtrtrt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.third-container .inner-box-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1685673414962-b602f4776e8d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=738&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.third-container .inner-box-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1616046229478-9901c5536a45?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.third-container .inner-box-9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1502005229762-cf1b2da7c5d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Text-square{  /*Titulo del recuadro*/
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: #12dc19;
  text-align: center;
  font-family: fantasy;
  font-weight: 5;
  font-size: 1.5vw;
  word-wrap: break-word;

}

#paragraph{
  display: flex;
  flex-direction:row;
  justify-content: center;
  color: #000000;
  padding-top: 1%;
  font-size: smaller;
  text-align: center;
  padding: 5%;
  font-family:'Trebuchet MS' sans-serif;
  text-overflow:ellipsis; /* Limita la longitud del texto y agrega puntos suspensivos */
  overflow: hidden;

}

.square {   /*define realmente la rejilla-forma-*/
  display: flex;
  flex-direction: column;
  width: 33.33%;
  height: 33.33%;
  align-items: center;
  justify-content: center;
  background-color: #12dc19;
  word-wrap: break-word;
  font-size: 1.25vw; /*Tamaño de la fuente*/
  overflow: hidden;

}

.square:nth-child(even) {
  /*colors 1 chess*/
  background-color: #ffffff;

}

.square:nth-child(odd) {
  /*colors 2 chess*/
  background-color: #c0c0c0;
}
/*========================FIN REJILLA=======================*/

/*========================FORMULARIO=======================*/

.fourth-container {/*contenedor de todo*/
  display: flex;
    width: 100vw;
  height: 100vh;
  background-image: url(https://cdn.shortpixel.ai/spai/q_lossy+w_1233+to_auto+ret_img/https://adaziodesign.com/wp-content/uploads/2022/01/ideas-creativas-scaled.jpg);
  justify-content: center;
  align-items: center;

}

.form-container {  /*contenedor formulario y foto*/

  display: flex;
  flex-direction:row;
  float: left;
  width: 50%;
  height: 60%;

  align-items: center;

  background-color: rgba(255, 255, 255, .1);
}

.pic-form{
  flex: 1;
  width: 50%;
  height: auto;

}

#text-registro{

  font-size: 2vw;
  color: rgb(32, 19, 227);
  font-weight: 600;

}

.login {  /*cuadro contenedor del formulario*/
  flex: 1;
  width: 100%;  /*ancho recuadro form*/
  height: 100%;  /*altura recuadro form*/
  z-index: 1;  
  background-color: rgba(30, 30, 30, 0.5);
  


}

.login input[type=text] {  /*casillas todas - pass*/
  display: flex;
  width: 90%;
  height: 10%;
  justify-content: center;
  background: transparent;
  border: 1px solid hsla(120, 93%, 38%, 0.9);
  border-radius: 1%;
  font-family: 'Exo', sans-serif;
  color: #ffffff;
  font-size:.75vw;
  padding:3%;  /*separacion texto- cuadro contenedor*/
  margin-left: 5%;


}

.login input[type=password] {   /*casilla password*/
  display: flex;
  flex: 1;
  width: 90%;
  height: 10%;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid rgba(25, 188, 10, 0.9);
  border-radius: 1%;
  font-family: 'Exo', sans-serif;
  font-size:.75vw;
  padding:3%;
  margin-left: 5%;


}

.login input[type=button] {
  width:90%;
  height:15%;
  flex: 1;
  justify-content: center;
  align-self: center;
  background: hsl(123, 94%, 46%);
  border: 1px solid #08a20d;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'Exo', sans-serif;
  font-size:1.5vw;
  font-weight:bold;
  color: #303130;
  margin-left: 5%;

}


.login input[type="button"] {
padding: 3%;

  /* Ajusta el margen superior para separarlo de los campos de texto */
}

.login input[type=button]:hover {/*Boton login*/
  opacity: 0.8;
}

.login input[type=button]:active {
  /*Boton login*/
  opacity: 0.6;
}

.login input[type=text]:focus {
  /*Al picar en casilla*/
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9);

}

.login input[type=password]:focus {
  /*Al picar en casilla*/
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.login input[type=button]:focus {
  /*Al picar en casilla*/
  outline: none;
}

::-webkit-input-placeholder {
  /*Transparencia*/
  color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
  /*Transparencia*/
  color: rgba(255, 255, 255, 0.6);
}



/*================FOOTER==================*/

/* Estilos para el pie de página */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-item {
  flex: 0 0 30%;
}

.footer-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-item p {
  margin: 0;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #888;
}


/*  */